<script type="text/javascript">
   var forwardLinks = []
   {% for post in site.posts %}	
   	{% if post.oldurl %}
   	  forwardLinks.push({ "old":"{{post.oldurl}}", "new":"{{post.url}}" })
  	{% endif %}
  {% endfor %}
   jQuery(function($)
   {
     // get the current pathname
     var currentPath = window.location.pathname
     
     // compare to the list
     for(var key in forwardLinks){
       var link = forwardLinks[key]
       if(link.old == currentPath){
         //set the redirect
         setTimeout("window.location.replace('"+link.new+"')", 5000)
         return
       }
     }
   })
</script>
